h1{
  color: black;
  text-align: center;
}

body{
  background-color: tomato;
  text-align: center;
}

h2{
  color: forestgreen;
  text-align: center;
}

p{
  color: orange;
  font-family: 'Times New Roman', Times, serif;
}